<div id="links_style">
  <h3 class="comments">
  <%= comment.commenter %>
  <h3>


  <h4 class="comments">
  <%= comment.body %>
  </h4>
<% if user_signed_in? %>
<p>
  <%= link_to 'Destroy This Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<% end %>
</div>
