<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "image/profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Guopang Cao</h1>
		<p>Welcome to my site.</p>
		<p>If you have some question, send me a email.</p>
		<p>Here is My email. <a href="mailto:gcnice@163.com">Email</a> </p>
	</div>
</div>
